name: MLProject Training CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install mlflow==2.19.0
          pip install scikit-learn pandas numpy

      - name: List files
        run: |
          echo "=== Repository Structure ==="
          ls -la
          echo "=== MLProject folder ==="
          ls -la MLProject/

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . --no-conda

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: mlflow-artifacts
          path: MLProject/mlruns/
          retention-days: 30
